@using MVC.WebUI.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<div id="product-details" class="container pb-5">
    <div class="row">

        <div class="col-md-6">

            <img src="/Upload1/@Model.Image" class="img-fluid rounded w-100 ">
        </div>
        <div class="col-md-6" style="margin-top: 30px">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    @if (Model.IsApproved)
                    {
                        <span class="badge bg-primary">In Stock</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Out of Stock</span>
                    }

                    <span class="Product-number">#2365656</span>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-md-12">
                    <h4 id="Product-price">@Model.Price ₺</h4>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-12">
                    @using (Html.BeginForm("AddToCard", "Card"))
                    {
                        @Html.HiddenFor(i => i.Id)
                        <button type="submit" class="btn btn-success">
                            <i class="fade fade-cart-plus" aria-hidden="true"></i>
                            Add To Card
                        </button>
                    }
                </div>
            </div>

            <div class="mt-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane" aria-selected="true">Description</button>
                    </li>
                </ul>

                <div class="row mt-1" style="margin-left:4px">
                    <div class="col-md-12">
                        <div class="col-md-12 mt-2">
                            <div id="description">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
