
@{
    ViewBag.Title = "Completed";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Your order is complete!</h2>
            <h4>The products you have purchased will be shipped within 3 working days.</h4>
        </div>
    </div>
</div>
