@model MVC.WebUI.Models.Card


<style>
    #card
    {
        color: white;
    }
</style>

<div class="ml-auto" style="margin-left:auto">
    <ul class="navbar-nav ml-auto" style="margin-right: 1px">
        <li class="nav-item">
            <a class="nav-link" href="/Card">
                <i fa-cart-plus" aria-hidden="true">🛒</i>
                (@Model.CardLines.Count)
            </a>
        </li>
    </ul>
</div>




