@model MVC.WebUI.Models.Card


<style>
    #card
    {
        color: white;
    }
</style>

<div class="container" style="margin-left:1150px">
    <ul class="navbar-nav" style="margin-left:100px">
        <li class="nav-item">
            <a class="nav-link" href="/Card">
                <i fa-cart-plus" aria-hidden="true">🛒</i>
                (@Model.CardLines.Count)
            </a>
        </li>
    </ul>
</div>


